@import "tailwindcss";

@theme {
    --color-primary: #ED3500;
    --color-secondary: var(--color-gray-500);
    --color-success: var(--color-emerald-600);
    --color-warning: var(--color-amber-500);
    --color-danger: var(--color-rose-600);
    --color-repack: var(--color-indigo-600);
}

:root {
    color: #111827;
    background-color: #f9fafb;
    /* gray-50 */
}

body {
    background-color: #f9fafb;
    color: #111827;
}